.ocupacao { margin: 1rem 0;  }

.dadosOcupacao{ 
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
}
.dadosOcupacao h2 { font-size: 1rem; font-weight: 500; }

.barraOcupacao {
    width: 100%;
    height: 15px;
    overflow: hidden;
    border-radius: 15px;
    background-color: lightgray;
}

.barraOcupacao div.cheio { --bg-barra: red; }
.barraOcupacao div.quaseCheio { --bg-barra: orange; }

.barraOcupacao div { height: 100%; background-color: var(--bg-barra); }

.ocupacao p { font-size: .95rem; font-weight: 700; color: gray }